.img180x180 .img{width:180px;height:180px}
.img180x180 .img .pic{width:180px;height:180px}
.img180x180 .img .pic img{max-width:180px;max-height:180px}
.img220x220 .img{width:220px;height:220px}
.img220x220 .img .pic{width:220px;height:220px}
.img220x220 .img .pic img{max-width:220px;max-height:220px}
.items .item{float:left;position:relative}
.items .item .child-component{padding:0 5px;position:relative}
.items .item .similar-hover .similars{bottom:-30px}
.items .item .pic-box-hover{position:relative}
.items .item .pic-box-hover .similars{position:absolute;left:0;bottom:0;width:100%;text-align:center;height:30px;-webkit-transition:bottom .1s;-moz-transition:bottom .1s;-o-transition:bottom .1s;transition:bottom .1s}
.items .item .pic-box-hover .similars .bar{width:1px;height:100%;position:absolute;left:50%;opacity:.5;top:0;background:#f66d27;overflow:hidden}
.items .item .pic-box-hover .similars .btn{width:50%;height:100%;line-height:30px;float:left;color:#fff;position:relative}
.items .item .pic-box-hover .similars .btn .shim{width:100%;height:30px;background-color:#f40;opacity:.8;position:absolute;top:0;left:0}
.items .item .pic-box-hover .similars .btn .text{width:100%;position:absolute;top:0;left:0;font-size:14px}
.items .item .pic-box-hover .similars .btn .bar{width:1px;height:100%;position:absolute;right:0;top:0;background:#f66d27;overflow:hidden}
.items .item .pic-box-hover .similars .disabled{color:#fba187}
.items .item .recommend-tag{z-index:1;position:absolute;top:-1px;left:-6px;height:18px;line-height:18px;padding:0 6px;background-color:#ff8c1a;color:#fff}
.items .item .recommend-tag a{color:#fff;text-decoration:none}
.items .item .recommend-tag .triangle{display:inline-block;width:0;height:0;line-height:0;border-style:dashed;border-color:transparent;border-width:3px;font-size:0;border-top-color:#ae5d0e;border-top-style:solid;border-right-color:#ae5d0e;border-right-style:solid;position:absolute;top:18px;left:0}
.items .item .promotionType{color:#ff4600}
.items .item .seller{height:20px;line-height:20px;overflow:hidden;margin-top:3px}
.items .item .seller .dsrs{float:left;margin-top:4px;width:13px}
.items .item .seller .dsrs .dsr{float:left;margin-top:2px;height:2px;width:8px;overflow:hidden}
.items .item .seller .dsrs .morethan{background-color:#f40}
.items .item .seller .dsrs .lessthan{background-color:#00ba97}
.items .item .seller .nick{color:#999;text-decoration:underline;max-width:110px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.items .item .price{margin-top:7px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.items .item .price .g_price{font-family:arial;font-size:16px}
.items .item .price .g_price span{color:#f40;margin-right:3px}
.items .item .price .g_price strong{font-weight:700;font-size:20px;font-family:arial}
.items .item .price .g_price-original{font-size:12px;color:#999;display:none}
.items .item .paid-num{color:#999;font-size:12px;display:block;margin-top:6px}
.items .item .paid-num a{color:#999;text-decoration:none}
.items .item .paid-num a:hover{color:#f40;text-decoration:underline}
.items .item .from{color:#999}
.items .item .icons{height:20px}
.items .item .icons .icon{float:left;width:16px;height:20px;margin-right:3px;background-image:url(//gtms01.alicdn.com/tps/i1/TB1YpO0HFXXXXa2XpXXP3C8GpXX-700-500.png);text-indent:-9999px}
.items .item .icons .icon-line{height:20px}
.items .item .icons .icon-service-qitian-jishi{background-position:-40px -300px}
.items .item .icons .icon-service-xiaobao{background-position:-20px -300px}
.items .item .icons .icon-service-xinyongka{background-position:-120px -300px}
.items .item .icons .icon-service-tianmao{width:16px;background-position:-540px -302px}
.items .item .icons .icon-service-gold{width:16px;background-position:-454px 2px}
.items .item .icons .icon-service-brandlice{width:16px;background-position:-432px 2px}
.items .item .icons .icon-service-newproducts{width:28px;background-position:-398px 2px}
.items .item .icons .icon-service-global{width:16px;background-position:-374px 2px}
.items .item .icons .icon-service-goldItem{width:16px;background-position:-477px 2px}
.items .item .icons .icon-service-qitian{background-position:-40px -300px}
.items .item .icons .icon-service-zhengpin{background-position:0 -300px}
.items .item .icons .icon-tag-xinpin{width:28px;background-position:0 -200px}
.items .item .icons .icon-service-jiayipeisan{background-position:-60px -300px}
.items .item .icons .icon-service-tuihuochengnuo{background-position:-600px -300px}
.items .item .icons .icon-service-huodaofukuan{background-position:-140px -300px}
.items .item .icons .icon-service-shouquan{background-position:-400px -300px}
.items .item .icons .icon-service-quanqiugou-small{background-position:-180px -300px}
.items .item .icons .icon-service-tianmaoguoji{width:50px;background-position:-500px -320px}
.items .item .icons .icon-service-quanqiugou{background-position:-180px -300px}
.items .item .icons .icon-service-peifu{background-position:-280px -300px}
.items .item .icons .icon-dummy{background:0 0}
.items .item .icons .icon-mall{width:23px;height:19px;background-position:-70px -20px;margin-top:-2px}
.items .item .icons .icon-bar{margin-top:3px;width:1px;height:10px;font-size:0;overflow:hidden;background:#cbcbcb}
.items .item .icons .icon-photograph{background-position:0 -1517px}
.items .item .icons .icon-lp{background-position:0 -548px;width:25px}
.items .item .icons .icon-xinpin{background-position:0 -1020px;width:26px}
.items .item .icons .icon-ppsq{background-position:0 -588px}
.items .item .icons .icon-hitao{background-position:0 -38px;width:27px}
.items .item .icons .icon-shopping,.items .item .icons .icon-zifa{width:18px;background-position:0 -634px}
.items .item .icons .icon-global{background-position:0 -58px}
.items .item .icons .icon-credit{background-position:0 -193px}
.items .item .icons .icon-discount{background-position:0 -276px;width:39px;text-indent:-9999px}
.items .item .icons .icon-cod{background-position:0 -209px}
.items .item .icons .icon-welfare{background-position:0 -227px}
.items .item .icons .icon-love{background-position:0 -227px}
.items .item .icons .icon-tao1site{background-position:0 -530px;width:26px}
.items .item .icons .icon-koubei{background-position:0 -681px}
.items .item .icons .icon-quality{background-position:0 -78px}
.items .item .icons .icon-as-fact{background-position:0 -96px}
.items .item .icons .icon-thirdqc{background-position:0 -705px;height:18px;margin-top:-2px}
.items .item .icons .icon-sevenday-return{background-position:0 -116px}
.items .item .icons .icon-jia1-pei3{background-position:0 -136px}
.items .item .icons .icon-thunder-delivery{background-position:0 -156px}
.items .item .icons .icon-thirtyday-repair{background-position:0 -175px}
.items .item .icons .icon-as-you,.items .item .icons .icon-you{background-position:0 -800px;height:17px}
.items .item .icons .icon-detail{background-position:0 -729px}
.items .item .icons .icon-nongye{background-position:0 -1080px}
.items .item .icons .icon-zichong{background-position:0 -990px;width:46px}
.items .item .icons .icon-charge{text-indent:-9999em;float:right;width:60px;height:20px;margin-top:-4px;background-position:0 -755px}
.items .item .img{width:100%;vertical-align:middle;overflow:hidden}
.items .item .img .pic{height:100%;display:table-cell;border:none;vertical-align:middle;overflow:hidden;text-align:center}
.items .item .img a img{vertical-align:middle}
.items .item img{position:relative;z-index:0;transition:all .25s linear;-o-transition:all .25s linear;-ms-transition:all .25s linear;-moz-transition:all .25s linear;-webkit-transition:all .25s linear}
.items .item:hover img{transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:scale(1.1)}
.items .img{width:180px;height:180px}
.items .img .pic{width:180px;height:180px}
.items .img .pic img{max-width:180px;max-height:180px}
.w1200-style .zero-suggess .item .img{width:220px;height:220px}
.w1200-style .zero-suggess .item .img .pic{width:220px;height:220px}
.w1200-style .zero-suggess .item .img .pic img{max-width:220px;max-height:220px}
.w1200-style .horizontal .bd .items .item .img{width:220px;height:220px}
.w1200-style .horizontal .bd .items .item .img .pic{width:220px;height:220px}
.w1200-style .horizontal .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.w1200-style .list-container-hide .grid .item .img{width:220px;height:220px}
.w1200-style .list-container-hide .grid .item .img .pic{width:220px;height:220px}
.w1200-style .list-container-hide .grid .item .img .pic img{max-width:220px;max-height:220px}
.w1200-style .list-container-hide .vertical .bd .items .item .img{width:220px;height:220px}
.w1200-style .list-container-hide .vertical .bd .items .item .img .pic{width:220px;height:220px}
.w1200-style .list-container-hide .vertical .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.w1200-style .list-container-hide .vertical .bd .items .item .img .pic{width:230px}
@media (min-width:1200px){.zero-suggess .item .img{width:220px;height:220px}
.zero-suggess .item .img .pic{width:220px;height:220px}
.zero-suggess .item .img .pic img{max-width:220px;max-height:220px}
.horizontal .bd .items .item .img{width:220px;height:220px}
.horizontal .bd .items .item .img .pic{width:220px;height:220px}
.horizontal .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.list-container-hide .grid .item .img{width:220px;height:220px}
.list-container-hide .grid .item .img .pic{width:220px;height:220px}
.list-container-hide .grid .item .img .pic img{max-width:220px;max-height:220px}
.list-container-hide .vertical .bd .items .item .img{width:220px;height:220px}
.list-container-hide .vertical .bd .items .item .img .pic{width:220px;height:220px}
.list-container-hide .vertical .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.list-container-hide .vertical .bd .items .item .img .pic{width:230px}
}
.w1200 .zero-suggess .item .img{width:220px;height:220px}
.w1200 .zero-suggess .item .img .pic{width:220px;height:220px}
.w1200 .zero-suggess .item .img .pic img{max-width:220px;max-height:220px}
.w1200 .horizontal .bd .items .item .img{width:220px;height:220px}
.w1200 .horizontal .bd .items .item .img .pic{width:220px;height:220px}
.w1200 .horizontal .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.w1200 .list-container-hide .grid .item .img{width:220px;height:220px}
.w1200 .list-container-hide .grid .item .img .pic{width:220px;height:220px}
.w1200 .list-container-hide .grid .item .img .pic img{max-width:220px;max-height:220px}
.w1200 .list-container-hide .vertical .bd .items .item .img{width:220px;height:220px}
.w1200 .list-container-hide .vertical .bd .items .item .img .pic{width:220px;height:220px}
.w1200 .list-container-hide .vertical .bd .items .item .img .pic img{max-width:220px;max-height:220px}
.w1200 .list-container-hide .vertical .bd .items .item .img .pic{width:230px}
.m-seller-popup{position:absolute;width:200px;padding:14px 6px;border:1px solid #999;background-color:#fff}
.m-seller-popup .rank{padding:0 6px}
.m-seller-popup .rank .img,.m-seller-popup .rank .text{vertical-align:middle;color:#999}
.m-seller-popup .rank .tmall{display:inline-block;*display:inline;*zoom:1;width:83px;height:12px;font-size:0;overflow:hidden;background:url(//img.alicdn.com/tps/i1/T1bVQUXeJcXXaL2Yse-110-1600.png) 0 -244px no-repeat}
.m-seller-popup .services{margin:15px 0 0;padding:15px 6px;border-top:dashed 1px #999;border-bottom:dashed 1px #999}
.m-seller-popup .service{height:21px;line-height:21px}
.m-seller-popup .text{display:inline-block;*display:inline;*zoom:1;width:94px}
.m-seller-popup .highlight{padding:2px 4px;margin-right:5px}
.m-seller-popup .high{color:#b30f00}
.m-seller-popup .high .highlight{background:#b30f00;color:#fff}
.m-seller-popup .normal{color:#b31102}
.m-seller-popup .normal .highlight{color:#fff;background:#b31102}
.m-seller-popup .low{color:#20730f}
.m-seller-popup .low .highlight{background:#20730f;color:#fff}
.m-seller-popup .delivery{margin-top:15px;padding:0 6px}
.m-seller-popup .hot{padding-left:2px;color:#f40}
.m-seller-popup .arrow-inner{position:absolute}#list-autoNav{position:relative}
#list-autoNav .refine-tip{position:absolute;left:122px;top:-17px;width:105px;height:26px;padding:1px 0 0 6px;color:#fff;background:url(//gtms01.alicdn.com/tps/i1/TB1YpO0HFXXXXa2XpXXP3C8GpXX-700-500.png) no-repeat -470px -362px;cursor:pointer;z-index:101}
.cate-more{float:right;font-size:12px;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat -57px 0;display:inline-block;*display:inline;*zoom:1;width:20px;height:20px;cursor:pointer;margin-top:4px;*margin-top:-20px!important}
.cate-less{float:left;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat -86px 3px;display:none;width:20px;height:20px;cursor:pointer}
.list-container-hide .cate-less{display:inline-block;*display:inline;*zoom:1}
.non-search .cate-less{display:none}
.special-son-category li{margin:5px 0;height:16px;overflow:hidden}
.special-son-category a{padding-left:0;color:#888!important;cursor:pointer;display:inline-block;*zoom:1;width:130px}
.special-son-category a:hover{text-decoration:none;color:#f40!important}
.nav-more{float:right;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat 0 -13px;display:inline-block;*display:inline;*zoom:1;width:24px;padding-left:14px;height:15px;line-height:17px;cursor:pointer;font-size:12px;font-weight:400;color:#999;*margin-top:-20px!important}
.category-list{margin-top:5px}
.list-box{border-bottom:1px solid #ededed;padding-bottom:10px;margin-top:12px;position:relative}
.sn-parent-title{font-size:14px;overflow:hidden}
.sn-parent-title .c-title{font-family:"Microsoft YaHei"!important;cursor:pointer}
.sn-parent-title .less,.sn-parent-title .more{display:inline-block;*display:inline;*zoom:1;height:10px;width:10px;margin-left:2px;margin-bottom:2px;background:url(//img.alicdn.com/tps/i1/TB1wGVTFVXXXXcDXXXXkBkW0pXX-291-110.png) 0 0 no-repeat;cursor:pointer}
.sn-parent-title .more{background-position:-99px -93px}
.sn-parent-title .less{background-position:-130px -93px}
.pop-close{font-family:glist_iconfont_close!important;font-size:12px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;color:#666;margin-left:5px;cursor:pointer}
.cate-title{border-bottom:1px solid #ccc;padding-bottom:16px;height:19px;color:#333;font-size:17px;line-height:26px;font-family:"Microsoft YaHei"!important}
.pop-layer{height:176px;width:200px;z-index:99;padding-top:10px;border:1px solid #cbcbcb;border-left:0 none;position:absolute;background-color:#fff;top:-13px}
.pop-layer .sn-parent-title{margin-top:2px}
.pop-layer ul{width:150px;float:left}
.pop-layer ul li{height:16px;overflow:hidden}
.pop-close{float:right;margin-right:20px}
.navigation{color:#666;border-bottom:1px solid #e9e9e9;border-left:0 none;position:relative;z-index:5}
.nav-switch{position:absolute;top:0;right:0;border-width:14px;border-color:#bdbdbd #bdbdbd transparent transparent;border-style:solid solid dashed dashed;z-index:300}
.nav-switch .nav-switch-icon{width:15px;height:15px;position:absolute;top:-13px;right:-13px;cursor:pointer;background:url(//img.alicdn.com/tps/i4/T1AA5EFd0cXXcq.EHS-300-289.png) -266px 3px}
.nav-narrowed .type-min{border-top:0!important;background-color:#fff!important}
.nav-narrowed .nav-switch-icon{background-position:-284px 3px}
.last-nav{float:right;color:#888;margin-top:-26px;margin-right:10px}
.last-nav .h{color:#a2a2a2!important}
.navigation{background-color:#f8f8f8}
.nav-container{width:1190px;margin:0 auto;min-width:990px}
.nav-container a{color:#666;text-decoration:none;cursor:pointer}
.nav-container .nav-topbar{position:relative;z-index:4}
.nav-container .nav-topbar .nav-topbar-content{line-height:36px}
.nav-container .nav-topbar .nav-topbar-content .category{float:left;padding:0 35px 0 59px;border:1px solid #e0e0e0;font-size:14px;border-bottom:0 none;border-top:0 none;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) 35px -236px no-repeat;background-color:#eee;margin-right:20px;font-family:"Microsoft YaHei"!important}
.nav-container .nav-topbar .nav-topbar-content .h{color:#a2a2a2!important}
.nav-container .nav-topbar .nav-topbar-content li{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.nav-container .nav-topbar .nav-topbar-content .nav-topbar-arror{display:inline-block;*display:inline;*zoom:1;width:5px;margin:0 10px;height:9px;background:url(//img.alicdn.com/tps/i4/T1AA5EFd0cXXcq.EHS-300-289.png) -255px -1px}
.nav-container .nav-topbar .nav-topbar-content .nav-pill a{text-decoration:none;border:1px solid #bcbcbc;line-height:14px;padding:1px 6px 2px;background:#fff}
.nav-container .nav-topbar .nav-topbar-content .nav-pill h5{display:inline;padding-right:6px;color:#999;font-weight:400}
.nav-container .nav-topbar .nav-topbar-content .nav-pill .nav-pill-text{color:#666;display:inline-block;*display:inline;*zoom:1;max-width:120px;overflow:hidden;position:relative;text-overflow:ellipsis;height:25px;line-height:22px;*line-height:25px;vertical-align:middle}
.nav-container .nav-topbar .nav-topbar-content .nav-pill .nav-pill-cancle{position:relative;top:1px;left:5px;display:inline-block;*display:inline;*zoom:1;width:12px;height:9px;_top:5px;background:url(//img.alicdn.com/tps/i4/T1AA5EFd0cXXcq.EHS-300-289.png) -193px 0}
.nav-container .nav-topbar .nav-topbar-content .nav-pill a:hover{border-color:#f60}
.nav-container .nav-topbar .nav-topbar-content .nav-pill a:hover .nav-pill-text{color:#f60}
.nav-container .nav-topbar .nav-topbar-content .nav-pill a:hover .nav-pill-cancle{background-position:-209px 0}
.nav-container .nav-topbar .topbar-search{margin-top:8px;float:left;height:19px;width:107px;border:solid 1px #d9d9d9;margin-bottom:7px}
.nav-container .nav-topbar .topbar-search .search-input{float:left;width:88px;border:0 none;height:19px;line-height:19px;text-indent:2px}
.nav-container .nav-topbar .topbar-search .topbar-submit{float:left;width:18px;height:19px;border-left:solid 1px #d9d9d9;cursor:pointer;background:url(//img.alicdn.com/tps/i4/T1AA5EFd0cXXcq.EHS-300-289.png) -235px 4px}
.nav-container .nav-topbar .nav-category-panel{border:2px solid #aaa9a9;width:100%;position:absolute;background:#fff;display:none}
.nav-container .nav-content .nav-category{position:relative}
.nav-container .nav-content .nav-category h4{position:absolute;color:#666;font-weight:400;left:22px;top:0;overflow:hidden;max-width:68px;white-space:nowrap;text-overflow:ellipsis;padding-right:5px;text-align:left}
.nav-container .nav-content .nav-category .nav-more{overflow:hidden;text-indent:-5em;width:14px;height:15px;position:absolute;right:11px;top:0;border:1px solid #dad9d9;display:none}
.nav-container .nav-content .nav-category .nav-more:hover{border-color:#9d9b9b}
.nav-container .nav-content .nav-category .nav-more .arrow{position:absolute;top:7px;left:4px;border-width:3px;border-style:solid dashed dashed dashed;border-color:#666 transparent transparent transparent}
.nav-container .nav-content .nav-category .show{display:block}
.nav-container .nav-content .nav-category-content{overflow:hidden}
.nav-container .nav-content .nav-category-content li{float:left;margin-bottom:11px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:95px}
.nav-container .nav-content .nav-search-noresult{display:none;color:#888;margin-bottom:6px}
.nav-container .nav-content .nav-category-panel{border:2px solid #aaa9a9;width:100%;position:absolute;background:#fff;display:none}
.nav-container .nav-content .nav-category-panel li{width:95px;margin-right:40px}
.nav-container .nav-content .state-unfold-active .nav-category-panel{display:block;z-index:500}
.nav-container .nav-content .state-unfold-active .nav-category-panel .nav-category-wrap{display:block}
.nav-container .nav-content .type-line{overflow:hidden}
.nav-container .nav-content .type-line .nav-category{clear:both;position:relative;padding:0 100px 0 107px;height:20px;overflow:hidden;margin-top:11px;margin-bottom:11px}
.nav-container .nav-content .type-line .nav-category.state-unfold{border-bottom:2px solid #d7d6d6;margin-bottom:-2px;height:auto}
.nav-container .nav-content .type-line .nav-2-line.state-unfold{height:auto}
.nav-container .nav-content .type-line .nav-category-content{height:26px}
.nav-container .nav-content .type-line .nav-2-line{height:50px}
.nav-container .nav-content .type-line .nav-2-line .nav-category-content{height:52px}
.nav-container .nav-content .type-line .state-unfold .nav-category-content{height:auto;margin-right:-44px;max-height:142px;overflow-y:auto;margin-bottom:16px}
.nav-container .nav-content .type-line .nav-category-content li{margin-right:40px}
.nav-container .nav-content .type-line .state-unfold .nav-category-content li{width:106px;margin-right:44px}
.nav-container .nav-content .type-block{border-top:2px #e5e5e5 solid;padding:5px 0 14px;height:88px;z-index:3}
.nav-container .nav-content .type-block .nav-flexbox{float:left;width:33.33%;height:102px;pointer-events:none}
.nav-container .nav-content .type-block .nav-flexbox.last{position:absolute;right:3px}
.nav-container .nav-content .type-block.four-box .nav-flexbox{width:25%}
.nav-container .nav-content .type-block .nav-category{width:100%;border-left:1px #e4e4e4 solid;float:left;margin-left:-1px;position:relative;padding-right:0;pointer-events:auto;margin-top:9px}
.nav-container .nav-content .type-block .nav-category.state-unfold{border:2px solid #aaa9a9;position:relative;top:-16px;margin-right:-2px;margin-left:-2px;background:#fff;z-index:300}
.nav-container .nav-content .type-block .nav-category-wrap{margin-top:27px}
.nav-container .nav-content .type-block .nav-category-content{margin-left:22px;margin-right:-10px;height:52px}
.nav-container .nav-content .type-block .nav-category-content li{margin-right:38px}
.nav-container .nav-content .type-block .item-type-size .nav-category-content li{margin-bottom:8px;margin-right:30px}
.nav-container .nav-content .type-block .item-type-size .nav-category-content li a{width:48px;height:18px;display:block;border:1px solid #cdcccc;margin-left:2px;text-align:center;text-decoration:none;overflow:hidden}
.nav-container .nav-content .type-block .state-unfold h4{top:14px}
.nav-container .nav-content .type-block .state-unfold .nav-more{top:14px}
.nav-container .nav-content .type-block .state-unfold .nav-more .arrow{top:4px;border-style:dashed dashed solid dashed;border-color:transparent transparent #666 transparent}
.nav-container .nav-content .type-block .state-unfold .nav-category-wrap{max-height:186px;min-height:60px;overflow-y:auto;overflow-x:hidden;position:relative;top:17px;margin-bottom:31px}
.nav-container .nav-content .type-block .state-unfold .nav-category-content{overflow-y:auto;height:auto}
.nav-container .nav-content .type-block .state-unfold .nav-category-content li{margin-right:7px;width:70px}
.nav-container .nav-content .type-min{position:relative;border-top:1px solid #cdcccc;padding:7px;background:#f5f4f4}
.nav-container .nav-content .type-min .nav-category-container{height:26px;overflow:hidden;margin-top:-1px;padding-top:1px}
.nav-container .nav-content .type-min .nav-category{display:inline-block;*display:inline;*zoom:1;text-align:center;border:1px solid #e3e3e3;cursor:pointer;background:#fff;height:24px;line-height:24px;margin-left:11px}
.nav-container .nav-content .type-min .nav-category.state-unfold{border:2px solid #aaa9a9;border-bottom-color:#fff;background:#fff;margin-top:-2px;position:relative;margin-right:-2px;z-index:700}
.nav-container .nav-content .type-min .nav-category h4{padding:0 20px 0 12px;position:static}
.nav-container .nav-content .type-min .nav-category h4 span{display:none}
.nav-container .nav-content .type-min .nav-category .nav-more{margin-top:5px;margin-right:-7px;border:0;display:block}
.nav-container .nav-content .type-min .nav-category-wrap{padding:18px 14px 18px 29px;max-height:180px;overflow-y:auto;overflow-x:hidden;display:none}
.nav-container .nav-content .type-min .nav-category-panel{margin-left:-9px;margin-right:-2px;margin-bottom:-8px;top:31px}
.nav-container .nav-content .nav-category-group{clear:both}.synonyms{margin:10px 0;display:block;border:1px solid #ffd57f;background:#fff7e5;padding:15px 20px;color:gray;font-size:14px;font-weight:700}
.synonyms a{color:#0063dc;display:inline;padding:0 8px;text-decoration:none;cursor:pointer}
.synonyms a:hover{text-decoration:none;background-color:#eee}.filter-tip{position:absolute;left:-40px;top:-22px;width:105px;height:26px;padding:1px 0 0 6px;color:#fff;background:url(//gtms01.alicdn.com/tps/i1/TB1YpO0HFXXXXa2XpXXP3C8GpXX-700-500.png) no-repeat -470px -362px;cursor:pointer}
.m-filterform{height:30px;padding-bottom:4px;border-bottom:1px solid #cbcbcb}
.m-filterform .sel-btn{float:left;border:1px solid #cbcbcb;height:24px}
.m-filterform .sel-btn .sort{float:left;line-height:24px;padding:0 8px;text-decoration:none}
.m-filterform .sel-btn .sort .text{float:left;cursor:pointer}
.m-filterform .sel-btn .sort .arrow{float:left;cursor:pointer;margin:9px 0 0 1px;width:7px;height:10px;overflow:hidden;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat scroll 0 0}
.m-filterform .sel-btn .sort .price-normal{width:9px;height:13px;overflow:hidden;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat scroll -207px 0;display:inline-block;*display:inline;*zoom:1}
.m-filterform .sel-btn .sort .price-up{width:9px;height:13px;overflow:hidden;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat scroll -207px -58px;display:inline-block;*display:inline;*zoom:1}
.m-filterform .sel-btn .sort .price-down{width:9px;height:13px;overflow:hidden;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat scroll -207px -33px;display:inline-block;*display:inline;*zoom:1}
.m-filterform .sel-btn .desc .arrow{background-position:-169px -4px}
.m-filterform .sel-btn .sort-price:hover i{background-position:-207px -79px}
.m-filterform .sel-btn .active,.m-filterform .sel-btn .sort:hover{color:#f40;background-color:#f8f8f8}
.m-filterform .sel-btn .active .arrow,.m-filterform .sel-btn .sort:hover .arrow{background-position:-169px -37px!important}
.m-filterform .sel-more{width:auto;border:0 none;position:relative}
.m-filterform .sel-more ul{height:24px;overflow:hidden;border:1px solid #cbcbcb}
.m-filterform .sel-more ul li{float:left}
.m-filterform .sel-more .sel-ck{padding:0 3px}
.m-filterform .sel-more .sel-ck li{margin-right:3px}
.m-filterform .sel-more .sel-ck .label{vertical-align:middle;cursor:pointer}
.m-filterform .sel-more .sel-ck input{line-height:24px;height:24px;vertical-align:middle}
.m-filterform .sel-more .border-none{border:0 none}
.m-filterform .sel-more-hover ul,.m-filterform .sel-more:hover ul{height:24px;background-color:#fff;z-index:999}
.m-filterform .price-range{overflow:hidden;width:88px;height:31px;float:left}
.m-filterform .price-range .inputs{margin:0 auto 0;height:31px}
.m-filterform .price-range .input-wrapper{float:left;width:42px;height:24px;line-height:24px}
.m-filterform .price-range .input-right{margin-left:-1px}
.m-filterform .price-range .rmb{padding:0 4px;font-family:arial,verdana;color:#666}
.m-filterform .price-range .price-input{width:25px;border:0 none;outline:0;background:0 0}
.m-filterform .price-range .price-btn{display:inline-block;*display:inline;*zoom:1;cursor:pointer;font:100 12px/14px simsun,sans-serif;border:0;margin:0 4px 3px 4px;text-decoration:none;float:right;padding:3px 8px;background:#f40;color:#fff;height:auto;width:79px}
.m-filterform .price-range-hover,.m-filterform .price-range:hover{position:relative;z-index:1;overflow:visible}
.m-filterform .price-range-hover .price-inner,.m-filterform .price-range:hover .price-inner{position:absolute;left:-1px;background:#fff;border:1px solid #d4d4d4;border-top:none}
.m-filterform .location{float:left;height:24px;width:52px;overflow:hidden;border:1px solid #d5d5d5}
.m-filterform .location .loca-hd{line-height:24px;height:24px;border:1px solid #f6f6f6;margin-left:-2px;position:relative;z-index:100;left:1px;overflow:hidden}
.m-filterform .location .text{float:left;width:50px;text-align:center;line-height:24px}
.m-filterform .location .triangle{margin-top:13px}
.m-filterform .location .loca-popup{position:absolute;left:-1px;top:25px;width:200px;border:1px solid #d5d5d5;border-top:none;z-index:1;background:#fff}
.m-filterform .location .loca-popup a{padding:2px;color:#212121}
.m-filterform .location .loca-popup .sep{border-top:1px dotted #d5d5d5}
.m-filterform .location .loca-popup .section{padding:5px 5px 5px 0;line-height:22px}
.m-filterform .location .loca-popup .inner{padding-left:5px}
.m-filterform .location .loca-popup .address{float:left;padding-left:4px;white-space:nowrap}
.m-filterform .location .loca-popup .selected{background:#f50;color:#fff}
.m-filterform .location .loca-popup .address-input{width:120px;height:18px}
.m-filterform .location .loca-popup .address-btn{height:22px;padding:0 2px}
.m-filterform .location .location-panel{position:absolute;background:#fff;width:354px;left:0;border:1px solid #ccc;-webkit-box-shadow:rgba(0,0,0,.1) 0 1px 5px;-moz-box-shadow:rgba(0,0,0,.1) 0 1px 5px;box-shadow:rgba(0,0,0,.1) 0 1px 5px;display:none;top:24px;z-index:101}
.m-filterform .location .location-panel .locfilter__btn{height:26px;padding:0 8px;margin:20px 20px 5px;display:inline-block;text-align:center;text-decoration:none;color:#fff!important;line-height:26px;border-radius:2px;background-color:#F94700;cursor:pointer}
.m-filterform .location .location-panel .locfilter__btn:hover{color:#fff!important}
.m-filterform .location .recommend-location{border-bottom:1px dashed #d3d3d3;margin:0 20px}
.m-filterform .location .personal-location{height:18px;width:100%;overflow:hidden;padding-top:12px}
.m-filterform .location .city-location,.m-filterform .location .most-location,.m-filterform .location .province-location{padding:8px 0}
.m-filterform .location .personal-location .guess{width:105px}
.m-filterform .location .personal-location .guess,.m-filterform .location .personal-location .often{display:block;float:left}
.m-filterform .location .personal-location label{color:gray;padding-right:4px}
.m-filterform .location .personal-location a{color:#3d3d3d;font-weight:700;padding:0 4px}
.m-filterform .location .city-location,.m-filterform .location .most-location,.m-filterform .location .province-location{padding:8px 0}
.m-filterform .location .list-innerwrap{width:354px}
.m-filterform .location .list-location li{float:left;padding:3px 17px 3px 0}
.m-filterform .location .most-location li{padding:3px 0;width:52px;float:left}
.m-filterform .location .list-location,.m-filterform .location .recommend-location{margin:0 20px}
.m-filterform .location .city-location{border-bottom:1px dashed #d3d3d3;padding:8px 0}
.m-filterform .location .input-location{height:26px;padding:10px 0 20px}
.m-filterform .location .input-location input{float:left;border:1px solid #dedede;padding:3px;width:170px;margin-right:7px}
.m-filterform .location-hover,.m-filterform .location:hover{overflow:visible;position:relative;z-index:1;height:25px;background:#fff}
.m-filterform .location-hover .triangle,.m-filterform .location:hover .triangle{display:none}
.m-filterform .location-hover .loca-popup,.m-filterform .location:hover .loca-popup{display:block}
.m-filterform .location-hover .location-panel,.m-filterform .location:hover .location-panel{display:block;margin-left:-1px}
.m-filterform .location-hover .loca-hd,.m-filterform .location:hover .loca-hd{border-color:#ccc;border-bottom:1px solid #fff;top:-1px;margin-left:-2px;padding-top:1px;background:#fff;z-index:120}
.m-filterform .pagination{margin-left:6px}
.m-filterform .styles{float:right;border:1px solid #cbcbcb}
.m-filterform .styles .icon{float:left;width:20px;height:20px;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) no-repeat scroll 0 0}
.m-filterform .styles .icon-grid{background-position:-240px 1px}
.m-filterform .styles .icon-list{background-position:-273px 0}
.m-filterform .styles .selected,.m-filterform .styles a:hover{background-color:#f0f0f0}
.m-filterform .styles .selected .icon-grid{background-position:-240px -32px}
.m-filterform .styles .selected .icon-list{border-left:none;background-position:-273px -32px}
.m-filterform .styles .style-icon{float:left;padding:0 4px 0 2px;height:21px;padding-top:3px}
.m-filterform .styles .style-icon+.style-icon{border-left:none}
.m-filterform .pagination{float:right;position:relative;height:24px;line-height:24px;border:1px solid #cbcbcb;padding:0 3px}
.m-filterform .pagination .page-icon{display:inline-block;*display:inline;*zoom:1;width:18px;height:15px;background:url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) 0 0 no-repeat;cursor:pointer}
.m-filterform .pagination .prew{background-position:-76px -56px}
.m-filterform .pagination .prew-disable{background-position:-28px -56px;cursor:default}
.m-filterform .pagination .prew:hover{background-position:-12px -56px}
.m-filterform .pagination .next{background-position:-46px -56px}
.m-filterform .pagination .next-disable{background-position:-99px -56px;cursor:default}
.m-filterform .pagination .next:hover{background-position:-62px -56px}
.m-filterform .filter-wrapper{border-top:none;height:30px;background-color:#fff;position:relative;z-index:1000}
.m-filterform .fixed{position:fixed;top:0;height:30px}
.m-filterform .filter-component{float:left;margin-right:6px}
.m-filterform .right-component{float:right}
.m-filterform .input-border{border:1px solid #cbcbcb}
.m-filterform .triangle{border:3px dashed transparent;_border-color:tomato;_filter:chroma(color=tomato);border-right:3px solid #cbcbcb;border-bottom:3px solid #cbcbcb;line-height:0;height:0;width:0;bottom:0;right:0;position:absolute;display:inline-block;*display:inline;*zoom:1}
.m-filterform .submit{float:left;cursor:pointer;height:26px;width:42px;display:inline-block;*display:inline;*zoom:1;text-align:center;text-decoration:none;color:#fff!important;line-height:26px;border-radius:2px;background-color:#F94700}
.m-filterform .submit:hover{color:#fff!important}
.m-filterform .sel-btn li{height:24px;line-height:23px;vertical-align:middle;margin-left:5px}
.hide-bottom-border{padding-bottom:0;border-bottom:none}
.w990 .m-filterform .filter-component{margin-right:3px}
.w990 .m-filterform .pagination{margin-left:3px}
.w990 .m-filterform .sel-more ul li{float:none}
.w990 .m-filterform .sel-more:hover ul{height:100px;z-index:1}
.w990 .list-container-hide .m-filterform .sel-more ul li{float:left}
.w990 .list-container-hide .m-filterform .sel-more:hover ul{height:24px}.tb-combobar{background-color:#fafafa}
.tb-combobar .combobar-noresult{display:block;margin:20px;font-family:u7039u5b29u7d8bd8b}
.tb-combobar .combobar-noresult .taogongzai{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin:30px 40px}
.tb-combobar .combobar-noresult .taogongzai img{width:240px}
.tb-combobar .combobar-noresult .item-not-found{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;line-height:30px}
.tb-combobar .combobar-noresult .item-not-found .title{font-size:16px}
.tb-combobar .combobar-noresult .item-not-found .normal{height:20px;line-height:20px}
.tb-combobar .combobar-noresult .item-not-found .suggess{font-weight:700}
.tb-combobar .combobar-noresult .item-not-found .related span{float:left}
.tb-combobar .combobar-noresult .item-not-found .related .tb-related{float:left;width:600px;margin-top:0}
.tb-combobar .combobar-noresult .item-not-found .related .tb-related ul{height:22px}
.tb-combobar .combobar-noresult .item-not-found .related .tb-related li{padding:0}
.tb-combobar .combobar-noquery{display:block;border:1px solid #ffd57f;background:#fff7e5;padding:15px 20px;color:gray;font-size:14px;font-weight:700;margin-bottom:10px}
.tb-combobar .combobar-noquery li a{display:inline;color:#0063dc}
.tb-combobar .related .nav a{float:left}
.hot-suggess{margin-top:8px;font-size:16px;font-weight:400;font-family:"Microsoft YaHei"!important;border-bottom:2px solid #d8d8d8;padding-bottom:7px;margin-bottom:15px;color:#333;padding-left:5px}
.zero-suggess .item{margin:0 20px 20px 0;border:1px solid #ededed;width:220px;height:330px}
.zero-suggess .item .title{height:36px;overflow:hidden}
.zero-suggess .item .price .g_price-original{display:inline-block}
.zero-suggess .item:hover{border-color:#f40}
.zero-suggess .last{margin-right:0}
.zero-suggess .horizonal .info{padding:0 5px}
.w990 .zero-suggess .item{width:180px;height:280px}
@media (max-width:1200px){.zero-suggess .item{width:180px;height:280px}
}
.w990-style .list-container-hide .list .item .col-2{width:300px}
.w990-style .list .item .col-2{width:200px}
.w1200-style .list-container-hide .grid .item{width:220px}
.w1200-style .list-container-hide .grid .item .price .g_price-original{display:inline-block}
.w1200-style .list-container-hide .list .item .col-2{width:500px}
@media (max-width:1200px){.list-container-hide .list .item .col-2{width:300px}
.list .item .col-2{width:200px}
}
.w990 .list-container-hide .list .item .col-2{width:300px}
.w990 .list .item .col-2{width:200px}
@media (min-width:1200px){.list-container-hide .grid .item{width:220px}
.list-container-hide .grid .item .price .g_price-original{display:inline-block}
.list-container-hide .list .item .col-2{width:500px}
}
.w1200 .list-container-hide .grid .item{width:220px}
.w1200 .list-container-hide .grid .item .price .g_price-original{display:inline-block}
.w1200 .list-container-hide .list .item .col-2{width:500px}
.grid{margin-top:-5px;padding-top:14px}
.grid .item{display:inline-block;width:180px;margin:0 18px 20px 0;padding:0 0 10px;border:1px solid #ededed;font-size:12px}
.grid .item .img .pic{width:180px;height:180px}
.grid .item .title{height:36px;margin-top:2px;overflow:hidden}
.grid .item .m-icons{position:relative;overflow:hidden;height:20px;padding-top:6px}
.grid .item .m-icons .ww-light{position:absolute;right:6px}
.grid .item .m-icons .icons{width:150px}
.grid .item:hover{border:1px solid #f40}
.grid .item-ctx-hover{margin-bottom:0}
.grid .item-ctx-hover .m-icons{overflow:visible}
.list{margin-top:-5px;padding-right:20px}
.list .item{width:100%;padding:10px 1px;border-bottom:1px solid #e5e5e5}
.list .item .col-1{width:150px;height:150px;text-align:center;position:relative;overflow:hidden}
.list .item .col-1 .center{width:150px;height:150px;vertical-align:middle}
.list .item .col-1 img{width:150px;height:150px}
.list .item .col-2{width:300px;margin-left:20px}
.list .item .col-3{margin-top:-12px;margin-right:40px}
.list .item .col-5{margin-top:-6px;margin-right:20px;text-align:right;width:62px}
.list .item .title{font-size:14px}
.list .item .title a{color:#333}
.list .item .seller .dsrs{margin-top:7px}
.list .item .icons{height:20px;padding-top:8px}
.m-product-popup{position:absolute;border:1px solid #cbcbcb;background:#f2f7ff}
.m-product-popup .inner{padding:5px;width:250px}
.m-product-popup .loading{padding:20px 0}
.m-product-popup .pic{height:250px;width:250px;text-align:center}
.m-product-popup .img{vertical-align:middle}
.m-product-popup .thumbs{margin:10px 0 0 5px;text-align:center}
.m-product-popup .thumb{position:relative;float:left;margin:1px 5px 1px 1px;border:solid 1px #B6B6B6}
.m-product-popup .hover{margin:0 4px 0 0;border:solid 2px #f60}
.m-product-popup .hover .triangle{display:block}
.m-product-popup .thumb-inner{display:table-cell;width:40px;height:40px;vertical-align:middle;line-height:0;*display:block;*font-size:35px;*font-family:Arial}
.m-product-popup .thumb-inner img{vertical-align:middle}
.m-product-popup .arrow-bottom{top:auto;bottom:28px}
.filter-btn{width:100%;height:25px;margin-top:6px;float:left;cursor:pointer;margin-bottom:20px}
.filter-btn ul{margin-right:20px;background-color:#f8f8f8}
.filter-btn li{position:relative;color:#000;float:left;width:20%;height:25px;line-height:25px;text-align:center}
.filter-btn li .division{position:absolute;height:25px;width:1px;top:0;right:0;background-color:#fff}
.filter-btn .current{background-color:#ff4600;color:#fff}
.recommend-box{clear:both;margin:0 20px 10px 0}
.recommend-box .recommend-tip{padding:14px 20px;font-size:14px;font-weight:700;background:#FFF1DC;border:1px solid #FFE3B8;color:#3d3d3d}.m-p4p .item{margin-bottom:20px}
.m-p4p .item .price .g_price-original{display:inline-block}
.m-p4p .item .title{height:36px}
.m-p4p .hd{font-size:16px;font-weight:400;font-family:"Microsoft YaHei";color:#333}
.m-p4p .bd .items .item:hover{border:1px solid #f40}
.vertical{border:1px solid #cbcbcb;border-bottom:none}
.vertical .hd{padding:0 8px;background-color:#f8f8f8;border-bottom:1px solid #f8f8f8;height:35px;line-height:35px}
.vertical .bd{padding-top:13px}
.vertical .bd .items{margin-top:0}
.vertical .bd .items .item{width:198px;height:314px;border-top:1px solid #ededed;border-bottom:1px solid #ededed;border-left:1px solid #cbcbcb;border-right:1px solid #cbcbcb;margin-left:-1px}
.vertical .bd .items .item .img .pic{display:block;margin:0 auto}
.vertical .bd .items .last{margin-bottom:0}
.horizontal .hd{margin-top:8px;border-bottom:2px solid #d8d8d8;padding-bottom:7px;padding-left:5px}
.horizontal .bd{margin-top:19px}
.horizontal .bd .items .item{margin-right:18px;padding:1px 1px 25px 1px;border:1px solid #fff;width:220px}
.horizontal .bd .items .last{margin-right:0}
.w990-style .vertical .bd .items .item{width:188px}
.w990-style .horizontal .bd .items .item{width:178px}
.w1200-style .list-container-hide .vertical .bd .items .item{width:228px;height:354px}
.w990 .vertical .bd .items .item{width:188px}
.w990 .horizontal .bd .items .item{width:178px}
.w1200 .list-container-hide .vertical .bd .items .item{width:228px;height:354px}
@media (min-width:1200px){.list-container-hide .vertical .bd .items .item{width:228px;height:354px}
}
@media (max-width:1200px){.vertical .bd .items .item{width:188px}
.horizontal .bd .items .item{width:178px}
}.m-pagination{height:40px;padding-top:10px;padding-bottom:20px;line-height:26px;text-align:center;color:#9d9d9d}
.m-pagination .inner{display:inline-block;*display:inline;*zoom:1}
.m-pagination .active,.m-pagination .btn,.m-pagination .btn-disabled{float:left;width:35px;height:34px;line-height:34px;border:1px solid #CCC;border-right:0 none;white-space:nowrap;font-family:Tahoma,SimSun,Arial;text-align:center;vertical-align:top;text-decoration:none;font-size:14px}
.m-pagination .btn{color:#3d3d3d}
.m-pagination .btn:focus,.m-pagination .btn:hover{border:1px solid #f60;background-color:#ffeee5;width:34px;height:34px}
.m-pagination .active{border-color:#f60;font-weight:700;color:#fff;background-color:#f60}
.m-pagination .next,.m-pagination .prev{position:relative;width:36px;border-right:1px solid #CCC}
.m-pagination .next .triangle,.m-pagination .prev .triangle{position:absolute;top:8px}
.m-pagination .next:hover,.m-pagination .prev:hover{width:36px}
.m-pagination .prev{padding-left:20px;padding-right:20px;border-right:0}
.m-pagination .next{padding-left:20px;padding-right:20px;margin-right:20px}
.m-pagination .btn-disabled{color:#666}
.m-pagination .text{display:inline-block;line-height:40px}
.m-pagination .submit{height:22px;background:#f40;color:#fff;border:1px solid #f40;padding:0 10px;cursor:pointer}
.m-pagination .num{width:30px;height:18px;border:solid 1px #999;text-align:center;color:#9d9d9d}double11{color:#f40}
#j-box{position:absolute;left:0;top:35px;z-index:10}
.ks-firefox .list-top-box .nav-pill,.ks-ie8 .list-top-box .nav-pill,.ks-ie9 .list-top-box .nav-pill{padding:0}
.list-top-box{position:relative}
.list-top-box .nav-pill{padding:1px 0 4px 0}
.list-top-box .list-top-nav-after,.list-top-box .list-top-nav-before{content:'';position:absolute;top:9px;display:none;width:18px;height:26px;background:#f8f8f8 url(//img.alicdn.com/tps/TB10mo9IFXXXXaZXVXXXXXXXXXX.png) 0 0 no-repeat;cursor:pointer;z-index:199}
.list-top-box.top-nav-hide .list-top-nav{position:absolute;margin-left:20px;left:0}
.list-top-box.top-nav-hide .list-top-nav-after,.list-top-box.top-nav-hide .list-top-nav-before{display:inline-block;*display:inline;*zoom:1}
.list-top-box .list-top-nav-before{left:0;background-position:-58px -57px}
.list-top-box .list-top-nav-before:hover{background-position:6px -57px}
.list-top-box .list-top-nav-after{right:0;background-position:-22px -57px}
.list-top-box .list-top-nav-after:hover{background-position:-38px -57px}.mysearch-inner{background-color:#fff7ce;border:1px solid #ffec9a;line-height:38px;margin-right:20px}
.mysearch-inner .content{padding:4px 12px}
.mysearch-inner .content .info{line-height:20px;display:inline-block;float:left}
.mysearch-inner .content .user-info{height:20px}
.mysearch-inner .nick{color:#f40}
.mysearch-inner .data-source a{color:#3d3d3d;font-weight:700}
.mysearch-inner .data-num a{color:#f40;font-weight:700}
.mysearch-inner a{text-decoration:none}
.mysearch-inner a:hover{color:#f40;text-decoration:underline}